# environment variables
.env
.env.production

# ssh keys
*.pem

# python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
.venv/

# others
.DS_Store
datasets/banking_transactions/164221-690806_20250131.pdf
